:global {
  body[data-theme="light"] {
    --headerSubject: var(--darkNavy);
  }
  body[data-theme="dark"] {
    --headerSubject: var(--white);
  }
}

.header {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.headerSubject {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 24px;
  justify-self: start;
}

.headerSubject {
  color: var(--headerSubject);
  font-family: Rubik;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.themeSwitcher {
  grid-column: 2/3;
  justify-content: end;
  justify-self: end;
}
