@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --purple: #a729f5;
  --darkNavy: #313e51;
  --navy: #3b4d66;
  --greyNavy: #626c7f;
  --lightBluish: #abc1e1;
  --lightGrey: #f4f6fa;
  --green: #26d782;
  --red: #ee5454;
  --white: #fff;

  --lightShadow: rgba(143, 160, 193, 0.14);
  --darkShadow: rgba(49, 62, 81, 0.14);
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: #f4f6fa;
  background-image: url("./assets/images/pattern-background-desktop-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  transition: 0.3s;
}

body[data-theme="dark"] {
  background-color: #313e51;
  background-image: url("./assets/images/pattern-background-desktop-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  transition: 0.3s;
}

a {
  font-family: "Rubik", monospace;
}

input[type="radio"] {
  appearance: none;
  display: none;
}

input[type="radio"]:checked {
  appearance: none;
  display: none;
}

input[type="radio"]:focus {
  appearance: none;
}

img {
  width: 40px;
  height: 40px;
}
